{% extends 'base.html' %}

{% block mainsec %}
<div class="margin-indent-class">
    <div class="contact-grid-container">
        <div id="contact-image">
            <!-- {% load static %} -->
            <img src="https://images.pexels.com/photos/33999/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=750&w=1260"
                alt="">
        </div>
        <div id="contact-info">
            <h2>You can reach me at:</h2>
            <p id="tag">Email:</p>
            <p>sriram@xyz.com</p>
            <p id="tag">Phone number:</p>
            <p>234234325325</p>
        </div>
    </div>
</div>
{% endblock %}